/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: 	#fffff4;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.main-container {	
	max-width: 1140px;
	margin:auto;
}

.container-button {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edition-mode {
	height: 40px;
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
}

.edition-mode p,
.edition-mode i {
	background-color: black !important;
	color: white;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover{
	color: #B1663C;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio .titre {
	display: flex;	
    justify-content: center;
}

#portfolio .titre a {
	display: flex;
	padding-top: 10px;
	margin-bottom: 0;
	text-decoration: none;
	color: black;
}

#portfolio .titre .fa-solid {
	padding-left: 20px;
	padding-right: 5px;
}


#portfolio .style-filters {
	display: flex;	
	gap: 8px;	
    justify-content: center;
}

#portfolio .filters {
	cursor: pointer;
	font: inherit;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 40px;
	padding: 8px 20px ;
	text-align: center;
	border-radius: 60px;
	border: solid 1px #1D6154;
	color: #1D6154;
}

#portfolio .active {
	cursor: pointer;
	font: inherit;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 40px;
	padding: 8px 20px ;
	text-align: center;
	border-radius: 60px;
	border: solid 1px transparent;
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.modal,
.modal2 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #FFF;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	border-radius: 10px;
}

.js-modal-close,
.js-modal-close2 {
	cursor: pointer;
	margin-left: 570px;
	padding: 10px;
	border: none;
	background-color: white;
	font-weight: bold;
}

.title-modal {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	/* margin-bottom: 40px; */
}

.image-wrapper {
	position: relative;
}

.square {
	cursor: pointer;
	position: absolute;
	background-color: black;
	border-radius: 3px;
	width: 17px;
	height: 17px;
	left: 56px;
	top: 5px;
}

.square i {
	background-color: black;
	color: white;
	margin-top: 8px;
	margin-left: 3px;
}

.line {
	margin-top: 40px;
	margin-bottom: 20px;
	background: grey;
	width: 440px;
	height: 1px;
}

.edition-mode-p {
	color: white;
}
  
.modal .add-button,
.modal2 .submit-button {
	cursor: pointer;
	font-family: "Syne";
	margin-top: 10px;
	margin-bottom: 10px;
	width: 230px;	
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: solid 0 transparent;
	background-color: #1D6154;
	color: white;
}

.modal .add-button:hover {
	background-color: #114138;
}

.modal2 .submit-button {	
	background-color: #A7A7A7;
}

.modal2 .submit-button:hover {	
	background-color: #1D6154;
}

.modal2 form,
.modal2 label {
	background-color: white;
}

.modal2 label {
	margin-top: 25px;
}

.modal2 input,
.modal2 select {
	margin-top: 10px;
}

.modal2 .add-button {
	cursor: pointer;
	font-family: "Syne";
	margin-top: 10px;
	margin-bottom: 10px;
	width: 230px;	
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: solid 0 transparent;
	background-color: #A7A7A7;
	color: white;
}

.modal2 .buttonsModal2 {
	background-color: white;
	display: flex;
}

.modal2 #titre {
	margin-bottom: 25px;
}

.return-modal1 {
	cursor: pointer;
}

.works-modal {
	display: flex;
	flex-direction: column;
	/* width: 420px; */
	height: 169px;
	background-color: #E8F1F6;
	align-items: center;
    justify-content: space-evenly;
	/* margin-bottom: 35px; */
}

.works-modal img {
	width: 76px;
	height: 76px;
}

.works-modal output {
	background-color: #E8F1F6;
}

.works-modal button {
	cursor: pointer;
	color: #306685;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	border: 0 transparent;
	background-color: #CBD6DC;
}

.works-modal p {
	font-size: 10px;
	padding-bottom: 10px;
}

.works-modal img,
.works-modal p {	
	background-color: #E8F1F6;
}

.works {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	/* justify-content: ; */
	gap: 10px;
	margin: 40px 80px 0 80px;
}

.works img{
	height: 104px;
	width: 78px;
	padding-bottom: 30px;
	background-color: white;
}

.custom-file-input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}
  
.custom-file-label {
	color: #306685;
	padding: 8px 12px;
	cursor: pointer;
	width: 150px;
	height: 16px;
	border-radius: 60px;
	text-align: center;
}
  

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form,
.modal2 form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
.modal2 input,
.modal2 select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {	
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/****************** Page login **********************/
nav a:hover {	
	color: #B1663C
}

nav a {	
	text-decoration: none;
	color: black;
}

li > span {
	font-weight: bold;
}

.login {
	text-align: center;
}

.error-message {
	display: none;
	text-align: center;
	font-weight: bold;
	background-color: white;
}

.error-message-img {
	margin-top: 5px;
	margin-bottom: -19px;
}

.error-message-title {
	margin-top: -19px;
	margin-bottom: 5px;
}

.error-message-category {
	margin-top: 5px;
	margin-bottom: -19px;
}

.container,
.email,
.password,
.connection {
	margin: 5px 0 5px 0;	
}

#contact button {
	font: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 180px;	
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: solid 0 transparent;
	background-color: #1D6154;
	color: white;
}

#contact .forgot_password a {
	color: black;	
	text-align: center;	
}

#contact button {
	margin: auto;
	margin-top: 40px;
}

#contact button:hover,
#contact .button:hover {
	cursor: pointer;
	background-color: #0E2F28;
}

#contact .forgot_password {
	text-align: center;
	margin-top: 30px;
}

.footer-login {	
	position: absolute;
	bottom: 0;
	right: 15%;
}

#contact .h2-login {
	margin-top: 100px;
}